{% extends 'base.jinja' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="caption uppercase">
                    <i class="ti-layout-grid3-alt"></i> Order Lines View
                </div>
                <div class="tools">
                  {% from "_buttons.html" import add_button, edit_button, delete_button, edit, action %}
                  {{ edit_button('.edit','order_lines', current_user) }}
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table table-bordered table-hover clickable-rows thead" width="100%">
                      <thead class="thead-light"></thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascripts %}
  <script>
    let dtConf = defaultDatatablesConfig;

    dtConf.ajax.url = '{{ url_for('.order_lines_data') }}';

    dtConf.columns = [
        { data:"sku", title:"SKU" },
        { data:"qty_ordered", title:"Qty Ordered" },
        { data:"qty_shipped", title:"Qty Shipped" },
        { data:"promise_date", title:"Ship by" },
        { data:"line_type", title:"Line Type" },
        { data:"price", title:"Price" },
        { data:"tax", title:"Tax" },
        { data:"order.purchase_date", title:"Purchase Date" },
        { data:"order.sales_channel.description", title:"Sales Channel" },
        { data:"order.order_number", title:"Order Number" },
    ];
    // custom row coloring
    dtConf.fnRowCallback = function( row, data, iDisplayIndex, iDisplayIndexFull ) {
        data.line_type == "S" ? row.classList.add('text-lime') : null;
        data.line_type == "D" ? row.classList.add('table-salmon','text-chili') : null;
    };
    // row grouping
    /*dtConf.rowGroup = {
        //dataSrc: ['order.order_number'],
        dataSrc:  function ( row ) { return 'Order #: <b class="text-sapphire">' + row.order.order_number + '</b>'; },
    }*/

    $(document).ready(function () {
      initDatatable('#datatable', dtConf);
    });
  </script>

{% endblock extra_javascripts %}

{# additional features used on this page: #}
{% block feature_javascripts %}
  {% include '_feature_column_visibility.html' %}
  {% include '_feature_column_reorder.html' %}
  {# {% include '_feature_grouping.html' %} #}
{% endblock feature_javascripts %}