[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
pyodbc = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
wtforms = "*"
flask-wtf = "*"
python-dateutil = "*"
dateutils = "*"
pymssql = "*"
flask-login = "*"
docxtpl = "*"
flask-migrate = "*"
requests = "*"
apscheduler = "*"
openai = "*"
flask-limiter = "*"
wtforms-sqlalchemy = "*"

[dev-packages]
flake8 = "*"
flask-sqlacodegen = "*"

[requires]
# python_version = "3.11"
