[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
pyodbc = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
# JSONMapper = "*"
wtforms = "*"
flask-wtf = "*"
wtforms-alchemy = "*"
python-dateutil = "*"
dateutils = "*"
pymssql = "*"
flask-login = "*"
docxtpl = "*"
flask-migrate = "*"
# gunicorn = "*"
# waitress = "*"
# psycopg2 = "*"
requests = "*"
apscheduler = "*"

[dev-packages]
flake8 = "*"
flask-sqlacodegen = "*"

[requires]
python_version = "3.8"
