<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:5055/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:5055/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://127.0.0.1:5055/(.*)" />
                    <action type="Rewrite" value="http{R:1}://forin.v4y.hu/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
      <security>
        <requestFiltering>
          <!-- 500MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="524288000" maxQueryString="10000" maxUrl="20000"/>
        </requestFiltering>
      </security>
    </system.webServer>
</configuration>
