{% from "_formhelpers.html" import render_field, validation_summary %}
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true" data-backdrop="static" data-focus="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dialog-size-form">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="validate {{ classes }}" action="" method="POST" novalidate>
                  <input type="hidden" name="key" value="{{ key }}">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="form-group col-12">
                        {{ render_field(form.order_number) }}
                    </div>
                    <div class="form-group col-6">
                        {{ render_field(form.ship_name) }}
                    </div>
                    <div class="form-group col-6">
                        {{ render_field(form.ship_phone) }}
                    </div>
                    <div class="form-group col-6">
                    </div>
                    <div class="form-group col-6">
                        {{ render_field(form.ship_email) }}
                    </div>
                    <div class="form-group col-6">
                        {{ render_field(form.ship_address) }}
                    </div>
                    <div class="form-group col-6">
                        {{ render_field(form.ship_address_2) }}
                    </div>
                    <div class="form-group col-3">
                        {{ render_field(form.ship_city) }}
                    </div>
                    <div class="form-group col-3">
                        {{ render_field(form.ship_postal_code) }}
                    </div>
                    <div class="form-group col-3">
                        {{ render_field(form.ship_country) }}
                    </div>
                    <div class="form-group col-3">
                        {{ render_field(form.ship_state) }}
                    </div>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ validation_summary(form) }}
                <button id="btnUpdate" type="button" class="btn btn-primary"
                        onclick="submitModal(this,'{{ url_for('.update') }}','#editModal');">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
      setupModal();
      showDialog();
    </script>
</div>