{% extends 'form_base.jinja' %}
{% from "_formhelpers.html" import render_field, render_form_header, render_footer, render_card_header %}

{% block modalcontent %}

    <div class="modal-content dialog-size-form">
        <div class="card card-tabs mb-3">
            <div class="card-header uppercase">
                {{ render_card_header(key, 'Order', ['Shipping info','Order lines']) }}
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <form class="validate {{ classes }}" action="" method="POST" novalidate>
                            <input type="hidden" name="key" value="{{ key }}">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="form-group col-12">
                                    {{ render_field(form.order_number) }}
                                </div>
                                <div class="form-group col-6">
                                    {{ render_field(form.ship_name) }}
                                </div>
                                <div class="form-group col-6">
                                    {{ render_field(form.ship_phone) }}
                                </div>
                                <div class="form-group col-6">
                                </div>
                                <div class="form-group col-6">
                                    {{ render_field(form.ship_email) }}
                                </div>
                                <div class="form-group col-6">
                                    {{ render_field(form.ship_address) }}
                                </div>
                                <div class="form-group col-6">
                                    {{ render_field(form.ship_address_2) }}
                                </div>
                                <div class="form-group col-3">
                                    {{ render_field(form.ship_city) }}
                                </div>
                                <div class="form-group col-3">
                                    {{ render_field(form.ship_postal_code) }}
                                </div>
                                <div class="form-group col-3">
                                    {{ render_field(form.ship_country) }}
                                </div>
                                <div class="form-group col-3">
                                    {{ render_field(form.ship_state) }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="table-responsive">
                            <table id="datatableOL" class="table table-bordered table-hover clickable-rows" width="100%">
                                <thead class="thead-light"></thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                {{ render_footer(submit_target, form) }}
            </div>
        </div>
    </div>

{% endblock modalcontent %}

{% block extra_javascripts %}
  <script>
    var dtConf_OL = simpleDatatablesConfig;

    dtConf_OL.ajax.url = '{{ url_for('order_lines.order_lines_data') }}';
    dtConf_OL.ajax.data.filtered_by = [{field: 'order_id', value: {{ key }} }]

    dtConf_OL.columns = [
        { data:"sku", title:"SKU" },
        { data:"qty_ordered", title:"Qty Ordered" },
        { data:"qty_shipped", title:"Qty Shipped" },
        { data:"line_type", title:"Line Type" },
    ];

    $(document).ready(function () {
      tb = initDatatable('#datatableOL', dtConf_OL);
    });
  </script>

{% endblock extra_javascripts %}