{% extends 'form_base.jinja' %}
{% from "_formhelpers.html" import render_field, render_form_header, render_form_footer %}

{% block modalcontent %}

    <div class="modal-content dialog-size-form">
        {{ render_form_header(key) }}
        <div class="modal-body">
            <form class="validate {{ classes }}" action="" method="POST" novalidate>
                <input type="hidden" name="key" value="{{ key }}">
                {{ form.hidden_tag() }}
                <div class="row">
                <div class="form-group col-12">
                    {{ render_field(form.order_number) }}
                </div>
                <div class="form-group col-6">
                    {{ render_field(form.ship_name) }}
                </div>
                <div class="form-group col-6">
                    {{ render_field(form.ship_phone) }}
                </div>
                <div class="form-group col-6">
                </div>
                <div class="form-group col-6">
                    {{ render_field(form.ship_email) }}
                </div>
                <div class="form-group col-6">
                    {{ render_field(form.ship_address) }}
                </div>
                <div class="form-group col-6">
                    {{ render_field(form.ship_address_2) }}
                </div>
                <div class="form-group col-3">
                    {{ render_field(form.ship_city) }}
                </div>
                <div class="form-group col-3">
                    {{ render_field(form.ship_postal_code) }}
                </div>
                <div class="form-group col-3">
                    {{ render_field(form.ship_country) }}
                </div>
                <div class="form-group col-3">
                    {{ render_field(form.ship_state) }}
                </div>
                </div>
            </form>
        </div>
        {{ render_form_footer(submit_target, form) }}
    </div>

{% endblock modalcontent %}
