{% extends 'base.jinja' %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="caption uppercase">
                    <i class="ti-layout-grid3-alt"></i> Sales by SKU
                </div>
                <div class="tools">
                  {% from "_buttons.html" import add_button, edit_button, delete_button, edit, action %}
                  {# {{ edit_button('.order_details','orders', current_user, 'Order details') }}
                  {{ edit_button('.edit','orders', current_user) }}
                  {{ action('.cancel_order','orders', current_user, 'Cancel order', "Do you want to cancel order?") }} #}
                </div>
            </div>

            <div class="row mb-3">
                <!-- Chart -->
                <div class="col-md-4">
                    <div class="">
                        <div class="card-body" id="report1-chart"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <div class="card-body" id="report2-chart"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <div class="card-body" id="report3-chart"></div>
                    </div>
                </div>
            </div>

            <div class="card-body">
              <!-- initialize with HTML only -->
              <table id="datatable" class="table table-bordered table-hover clickable-rows" width="100%"
                data-settings="reportDatatablesConfig"
                data-ajax-url="{{ url_for('.report3_data') }}"
                data-ajax-datasrc="dataReceived" >
                <thead class="thead-light">
                  <tr>
                    <th data-data="sku">SKU</th>
                    {# <th data-data="sum_qty_shipped">Shipped Qty</th> #}
                    <th data-data="sum_qty_ordered">Ordered Qty</th>
                    <th data-data="sum_price">Value</th>
                  </tr>
                </thead>
              </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/reporting/static/report_charts.js"></script>
  <script>
    var chart1;
    function dataReceived(json) {
        //Make your callback here.
        let vis = datatableGetVisibleColumns(tb);
        updateChart(chart1, json, "sku", "sum_qty_ordered");
        updateChart(chart2, json, "sku", "sum_price");
        updateChart(chart3, json, "sku", "markup");
        return json.data;
    }
    var dtConf_OL = reportDatatablesConfig;

    $(document).ready(function () {
      tb = initDatatable('#datatable', dtConf_OL);
      chart1 = report1ChartInit("#report1-chart", "Items ordered");
      chart2 = report1ChartInit("#report2-chart", "Value of orders");
      chart3 = report1ChartInit("#report3-chart", "Markup", "pie");
    });
  </script>

{% endblock extra_javascripts %}

{# additional features used on this page: #}
{% block feature_javascripts %}
  {% include '_feature_column_visibility.html' %}
  {# {% include '_feature_column_filtering.html' %} #}
{% endblock feature_javascripts %}