{% extends 'base.jinja' %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="caption uppercase">
                    <i class="ti-layout-grid3-alt"></i> Trading activity analysis
                </div>
            </div>

            <div class="row mb-3">
                <!-- Chart -->
                <div class="col-12">
                    <div class="">
                        <div class="card-body" id="report1-chart"></div>
                    </div>
                </div>
            </div>

            <div class="card-body">
              <!-- initialize with HTML only -->
              <table id="datatable" class="table table-bordered table-hover clickable-rows" width="100%"
                data-settings="reportDatatablesConfig"
                data-ajax-url="{{ url_for('.tradeactivity_data') }}"
                data-ajax-datasrc="dataReceived" >
                <thead class="thead-light">
                </thead>
              </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/reporting/static/report_charts.js?1"></script>
  <script>
    var chart1;
    function dataReceived(json) {
        //Make your callback here.
        updateBarChart(chart1, json, "symbol", "number_of_trades", "leader");
        return json.data;
    }
    var dtConf_OL = reportDatatablesConfig;
    dtConf_OL.columns = [
        { data:"symbol", title:"Symbol" },
        { data:"leader_id", title:"Trader" },
        { data:"number_of_trades", title:"Number of trades", className: "text-right", sortable: false },
    ];

    $(document).ready(function () {
      tb = initDatatable('#datatable', dtConf_OL);
      chart1 = reportBarChartInit("#report1-chart", "Number of trades", "bar");
    });
  </script>

{% endblock extra_javascripts %}

{# additional features used on this page: #}
{% block feature_javascripts %}
  {% include '_feature_column_visibility.html' %}
  {# {% include '_feature_column_filtering.html' %} #}
{% endblock feature_javascripts %}