{% extends 'base.jinja' %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h2>Order Lines</h2>
      <div >
          <button class="btn btn-primary btn-add" onclick="goToEditModal(this, '/order_lines/edit', '#editModal')"><i class="fal fa-edit mr-1"></i>Edit</button>
          <button class="btn btn-warning btn-add" onclick="doDelete(this, '/order_lines/delete')"><i class="fal fa-trash-alt mr-1"></i>Delete</button>
      </div>
      <hr/>
      <table id="datatable" class="display table-hover clickable-rows" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>SKU</th>
            <th>PO#</th>
            <th>Brand</th>
          </tr>
        </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<!-- modal dialog placeholder -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
</div>
{% endblock content %}

{% block extra_javascripts %}  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      var table = $('#datatable')
      .on('draw.dt', function(e, settings, data, xhr) {setupTable();} )
      .DataTable({
        "processing": true,
        "serverSide": true,
        "filter": true,
        "deferRender": true,
        "ajax": "{{ url_for('.order_feedsDT') }}",
        "rowId": 'guid_order_line',
        "columns": [
            { data: "sku", defaultContent: "", searchable: 'false'},
            { data: "order_line_flags.purchase_order_number", defaultContent: "" },
            { data: "product.brand", defaultContent: "", searchable: 'false', orderable: false, render: cell_template},
        ]
      });
    });

    function cell_template(data, type, row, meta) {
      return type === 'display' ?
          '<b>' + data + '</b>' :
          data;
    };

    function table_reload() {
      $('#datatable').DataTable().ajax.reload();
    };
  </script>

{% endblock extra_javascripts %}
