<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true" data-backdrop="static" data-focus="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dialog-size-form">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                  <input type="hidden" name="guid_order_line" value="{{ data.guid_order_line }}">
                  <div class="form-group">
                    <label for="sku" class="control-label">SKU:</label>
                    <input type="text" class="form-control" value="{{ data.sku }}">
                  </div>
                  <div class="form-group">
                    <label for="purchase_order_number" class="control-label">PO:</label>
                    <input type="text" class="form-control"
                      name="purchase_order_number" value="{{ data.order_line_flags.purchase_order_number }}">
                  </div>
                  <div class="form-group">
                    <label for="purchase_order_number" class="control-label">Notes:</label>
                    <textarea class="form-control"
                      name="notes">{{ data.order_line_flags.notes }}</textarea>
                  </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button id="btnUpdate" type="button" class="btn btn-primary"
                        onclick="submitModal(this,'/order_lines/update','#editModal');">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
      setupModal();
      $('#editModal').modal('show');
    </script>
</div>