{% extends 'base.jinja' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div>
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                {
                "symbols": [
                  {
                    "proName": "BINANCE:BTCUSDT",
                    "title": "Bitcoin"
                  },
                  {
                    "proName": "BINANCE:ETHUSDT",
                    "title": "Ethereum"
                  },
                  {
                    "proName": "BINANCE:ADAUSDT",
                    "title": "Cardano"
                  },
                  {
                    "proName": "BINANCE:DOTUSDT",
                    "title": "Polkadot"
                  },
                  {
                    "proName": "BINANCE:SOLUSDT",
                    "title": "Solana"
                  },
                  {
                    "proName": "BINANCE:LUNAUSDT",
                    "title": "Terra"
                  }
                ],
                "colorTheme": "dark",
                "isTransparent": true,
                "showSymbolLogo": true,
                "displayMode": "adaptive",
                "locale": "en"
              }
                </script>
              </div>
              <!-- TradingView Widget END -->
            </div>
            <div class="card-header">
                <div class="caption uppercase">
                    <i class="ti-layout-grid3-alt"></i> Trades made
                </div>
                <!--<div class="tools">
                  {% from "_buttons.html" import add_button, edit_button, delete_button, edit, action %}
                </div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table table-bordered table-hover clickable-rows" width="100%">
                      <thead class="thead-light"></thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_javascripts %}
  <script>
    let dtConf = defaultDatatablesConfig;

    dtConf.ajax.url = '{{ url_for('.trades_data') }}';
    {% if trader_id %}
      dtConf.ajax.data.filtered_by = [{field: 'leader_id', value: {{ trader_id }} }]
    {% endif %}

    dtConf.columns = [
        { data:"symbol", title:"Symbol" },
        { data:"direction", title:"Direction" },
        { data:"change_entry_price", title:"Change entry price", render: $.fn.dataTable.render.number(',', '.', 4, '$'), className: "text-right" },
        { data:"change_size", title:"Change size", render: $.fn.dataTable.render.number(',', '.', 2, '$'), className: "text-right" },
        { data:"position_size", title:"New Position size", render: $.fn.dataTable.render.number(',', '.', 2, '$'), className: "text-right" },
        { data:"entry_price", title:"Position entry price", render: $.fn.dataTable.render.number(',', '.', 4, '$'), className: "text-right" },
        { data:"amount_change", title:"Amount change", render: $.fn.dataTable.render.number(',', '.', 4), className: "text-right" },
        { data:"amount", title:"Amount", render: $.fn.dataTable.render.number(',', '.', 4), className: "text-right" },
        { data:"leader.name", title:"Trader" },
        { data:"created_timestamp", title:"Time" },
    ];

    // custom row coloring
    dtConf.fnRowCallback = function( row, data, iDisplayIndex, iDisplayIndexFull ) {
        data.position_size > 0 && data.change_size > 0 ? row.classList.add('text-success') : null;
        data.position_size > 0 && data.change_size < 0 ? row.classList.add('text-danger') : null;
        data.position_size < 0 && data.change_size < 0 ? row.classList.add('table-taffy','text-jade') : null;
        data.position_size < 0 && data.change_size > 0 ? row.classList.add('table-taffy','text-imperial') : null;
    };

    $(document).ready(function () {
      tb = initDatatable('#datatable', dtConf);
      /* yadcf.init(tb, [
        { column_number: 0, filter_type: "text", filter_match_mode: 'startsWith' },
      ]); */
      var timer = setInterval(datatableReload, 30000)
    });
  </script>

{% endblock extra_javascripts %}

{# additional features used on this page: #}
{% block feature_javascripts %}
  {% include '_feature_column_visibility.html' %}
  {# {% include '_feature_column_filtering.html' %} #}
{% endblock feature_javascripts %}