<div class="modal" tabindex="-1" data-editing role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true" data-backdrop="static" data-focus="true">

    <div class="modal-dialog" role="document">
        {% block modalcontent %}{% endblock modalcontent %}
    </div>

    <script type="text/javascript" charset="utf-8">
      setupModal();
      showDialog();
    </script>
</div>
