<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <script type="text/javascript" charset="utf-8">
    table_reload();
    {% for category, message in get_flashed_messages(with_categories=true) %}
      toastr.success('{{ message }}', '{{ category }}');
    {% endfor %}
  </script>
</div>