<div class="modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
  data-saved>
  <script type="text/javascript" charset="utf-8">
    datatableReload();
    toastr.options.positionClass= "toast-bottom-right";
    toastr.options.hideDuration = "600";
    toastr.options.closeButton = true;
    {% for category, message in get_flashed_messages(with_categories=true) %}
      toastr.success('{{ message|end_dot() }}', '{{ category }}');
    {% endfor %}
  </script>
</div>