
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeca; }

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffdf9c; }

.table-hover .table-warning:hover {
  background-color: #ffe6b1; }
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
    background-color: #ffe6b1; }

.table-warning .sorting_1 {
    background-color: #ffeeca !important;
}

.table-warning .sorting_1:hover {
    background-color: #ffe6b1 !important;
}

tr.selected .draggable a {
    visibility: visible;
}

tr:not(.selected) .draggable a {
    visibility: hidden;
}

/* .dialog-size-grid{
  width: 300% !important; 
  left: -75% !important;
}

.dialog-size-form{
  width: 150% !important; 
  left: -25% !important;
} */
